#logo
	= image_tag("logo.png")
	
.route-nav.col-md-4
	%table
		%tbody
			- @stops.each do |stop|
				%tr
					%h2
						%a.route-driver= stop.driver.username				
				%tr
					%td.top
						.stop-number.route-icons.go-left #
						.stop-type.route-icons.go-left= image_tag("done_pickup.png")
						.stop-status.route-icons.go-right= image_tag("done_checkmark.png")
					%td
						%h3=stop.stop_contact_name				
						%p.details=stop.client_name
						%p.details=stop.rickshaw_foreign_id
						%p.details=stop.stop_address
						%p.details=stop.scheduled_time

