.route-nav {
	padding: 0;
	margin: 0 0 0 15px;
	/*background-color: pink;*/
}

.route-nav table, tr, td {
		border: 1px solid white;
	}

.route-nav h1, h2, h3, h4, h5, h6, p {
		padding: 0;
		margin: 0;
		line-height: 1.5em;
	}

.route-nav .details {
	font-style: oblique;
}

.route-icons {
	border-bottom: 4px solid grey;
	/*background-color: #27B59B;*/
	text-align: center;
	margin: 0 5px 0 0;
	padding: 0 2px 5px;
	line-height: 25px;
	float: left;
}

.route-icons img {
	width: 15px;
	height: 15px;
}

.route-icons.stop-number{
	min-width: 25px;
	font-size: 15px;
	color: #B8B8BC;
}

.top{
	vertical-align: top;
	padding: 0 5px 0 0;
}

.route-driver {
	padding: 5px 25px 0 5px;
	margin: 15px 0 0 0;
}

.route-driver-text {
	background-color: #A6CF18;
	color: #ffffff;
	padding: 2px 15px 7px 10px;
	font-weight: normal;
}

.small {
	font-size: .6em;
}