* {
  -webkit-border-box: border-box;
  -moz-border-box: border-box;
  border-box: border-box;
}

#map-wrapper{
  width: 100% !important;
  height: 100% !important;
  position: relative;
}

#left-nav{
  margin: 0;
  padding: 0;
  height: 100%;
  z-index: 10;
  position: absolute;
  overflow: hidden;

}

#nav-inner-wrapper{
  width: 100% !important;
  height: 100% !important;
  position: relative;
  overflow: hidden;
}

#nav-content{
  width: 100% !important;
  height: 100% !important;
  position: relative;
  overflow: scroll;
  z-index: 10;
  position: absolute;
}

#nav-border{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 1;
  border-left: 25px solid rgba(255, 255, 255, 0.7);
  position: absolute;
}

#map-canvas { 
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 1;
  position: absolute;
}

.row{
  margin: 0;
  padding: 0;
}

.row:before,
.row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}

.go-left{
    float: left;
}

.go-right{
    float: right;
}

.quarter-width{
  max-width: 25%;
  min-width: 360px;
  float: left;
  position: relative;
  min-height: 1px;
}

.col-three-of-four{
  max-width: 75%;
  float: left;
  position: relative;
  min-height: 1px;
}

.col-one-of-five{
  width: 20%;
  float: left;
  position: relative;
  min-height: 1px;
}

.col-four-of-five{
  width: 80%;
  float: left;
  position: relative;
  min-height: 1px;
}
